.header{
    width: 100%;
    background-color: rgb(148, 109, 109);
    border-bottom: solid 10px greenyellow;
}

.menu{
    margin: 30px;
    padding: 30px;
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 2rem;
}

.menu li{
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

